<!-- Sidebar -->
<div class="sidebar">
	<div class="sidebar-dropdown">
		<a href="#">{{ 'Common.Text_Navigation' | t }}</a>
	</div>
	<div class="sidebar-inner">
		<!-- Search form -->
		<div ui-if="auth.isDomainProfileReady() && !auth.isPublic()"
			class="sidebar-widget">
			<form class="form-inline">
				<div class="input-append row-fluid">
					<input type="text" class="span8" placeholder="Search">
					<button type="submit" class="btn btn-info">{{
						'Common.Text_Search' | t }}</button>
				</div>
			</form>
		</div>

		<!--- Sidebar navigation -->
		<!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
		<ul class="navi"
			ng-show="auth.isDomainProfileReady() && !auth.isPublic()">
			<!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->
			<li class="nred"><a href="#/"><i class="icon-desktop"></i>
					{{ 'Common.Text_DashboardMenu_Dashboard' | t }}</a></li>
			<!-- Menu with sub menu -->
			<li class="has_submenu nlightblue" ui-route="#/store(?:\/[\w\d\-]+)?"
				ng-class="{active: $uiRoute}"><a href="#"> <!-- Menu name with icon -->
					<i class="icon-th"></i> {{ 'Common.Text_Store' | t }} <!-- Icon for dropdown -->
					<span class="pull-right"><i class="icon-angle-right"></i></span>
			</a>
				<ul>
					<li ui-if="auth.isDomainProfileReady() && auth.isAdministrator()"><a
						href="#/store" ng-click="createStore()">{{
							'Common.Text_CreateStore' | t }}</a></li>
					<li ui-if="auth.isDomainProfileReady()"><a href="#/approvals">{{
							'Common.Text_Pending_Approvals' | t }}</a></li>
					<li ui-if="auth.isDomainProfileReady() && !auth.isAdministrator()"><a
						href="#/storeRequest" ng-click="requestAccess()">{{
							'Common.Text_RequestAccess' | t }}</a></li>
					<li ui-if="stores && stores.length > 0" class="divider"></li>
					<li ng-repeat="s in stores"><a ui-if="s.IsOwner"
						ng-click="setStoreKey(s.Key)" href="#/store">{{s.Name}}</a></li>
				</ul></li>
			<li class="nyellow"
				ui-if="Store && Store.Key != null && Store.IsOwner || false"
				ui-route="#/category" ng-class="{active: $uiRoute}"><a
				href="#/category"><i class="icon-code-fork"></i>{{
					'Common.Text_Categories' | t }}</a></li>
			<li class="nblue"
				ui-if="Store && Store.Key != null && Store.IsOwner || false"
				ui-route="#/media" ng-class="{active: $uiRoute}"><a
				href="#/media"><i class="icon-picture"></i>{{
					'Common.Text_MediaLibraryMenu_MediaLibrary' | t }}</a></li>
			<li class="norange"
				ui-if="Store && Store.Key != null && Store.IsOwner || false"
				ui-route="#/venue" ng-class="{active: $uiRoute}"><a
				href="#/venue">{{ 'Common.Text_VenueMenu_Venue' | t }}</a></li>
			<li class="ngreen"
				ui-if="Store && Store.Key != null && Store.IsOwner && venues && venues.length > 0 || false"
				ui-route="#/(event|ticket).*" ng-class="{active: $uiRoute}"><a
				href="#/event">{{ 'Common.Text_EventMenu_Events' | t }}</a></li>
			<li
				ui-if="Store && Store.Key != null && Store.IsOwner && events && events.length > 0 || false"
				ui-route="#/order" ng-class="{active: $uiRoute}"><a
				href="#/order">{{ 'Common.Text_OrdersMenu_Orders' | t }}</a></li>
			<li ui-if="Store && Store.Key != null && Store.IsOwner || false"
				ui-route="#/scanners" ng-class="{active: $uiRoute}"><a
				href="#/scanners">{{ 'Common.Text_ScannerMenu_Scanner' | t }}</a></li>
		</ul>
		<!-- Date -->
		<div class="sidebar-widget">
			<div id="todaydate"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
  $(function() {
    $(".has_submenu > a").click(function(e) {
      e.preventDefault();
      var menu_li = $(this).parent("li");
      var menu_ul = $(this).next("ul");

      if (menu_li.hasClass("open")) {
        menu_ul.slideUp(350);
        menu_li.removeClass("open")
      } else {
        $(".navi > li > ul").slideUp(350);
        $(".navi > li").removeClass("open");
        menu_ul.slideDown(350);
        menu_li.addClass("open");
      }
    });

    $(".sidebar-dropdown a").on('click', function(e) {
      e.preventDefault();

      if (!$(this).hasClass("dropy")) {
        // hide any open menus and remove all other classes
        $(".sidebar .sidebar-inner").slideUp(350);
        $(".sidebar-dropdown a").removeClass("dropy");

        // open our new menu and add the dropy class
        $(".sidebar .sidebar-inner").slideDown(350);
        $(this).addClass("dropy");
      }

      else if ($(this).hasClass("dropy")) {
        $(this).removeClass("dropy");
        $(".sidebar .sidebar-inner").slideUp(350);
      }
    });
  })
</script>
<!-- Sidebar ends -->