<div class="imageSelector clear">
	<img class="img-polaroid"
		ui-if="_model.Image && _model.Image != null || false"
		ng-src="{{_model.Image.BaseURL}}{{_model.Image.ThumbFile}}" />
	<alert ui-if="!_model.Image || _model.Image == null || false"
		type="'warning'">{{'Common.Text_NoImageSelected' | t}}</alert>
	<div class="clear row-fluid">
		<div class="pull-left">
			<a class="btn" ng-click="imageSelector.prevImage()"><i
				class="icon-arrow-left"></i></a>
		</div>
		<div class="pull-right">
			<a class="btn" ng-click="imageSelector.nextImage()"><i
				class="icon-arrow-right"></i></a>
		</div>
		<p>
			<br /> <br />
		</p>
	</div>
	<div class="clear"></div>
</div>