<div ng-cloak ui-if="auth.isDomainProfileReady()" class="atPanel">
	<div ng-include src="'views/elements/error.html'"></div>
	<div class="container-fluid" ng-init="generateAccountInfoForUpdating()">
		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wviolet">
					<div class="widget-head">
						<i class="fa fa-unlock-alt"></i> {{'Login.labelMyAccount' | t}}
					</div>
					<div class="widget-content">
						<div class="padd">
							<form name="updateAccountForm" ng-submit="updateAccountForm.$valid && updateAccount()"
								ui-if="DomainProfile.Contact || false">
								<div class="control-group">
									<atfield at-required class="input-large"
										ng-model="copiedContact.FirstName"
										at-copy="Contact"
										label="'Login.labelFirstName' | t" />
								</div>
								<div class="control-group">
									<atfield at-required class="input-large"
										ng-model="copiedContact.LastName"
										at-copy="Contact"
										label="'Login.labelLastName' | t" />
								</div>
								<div class="control-group">
									<atfield at-required class="input-large"
										ng-model="copiedContact.Gender"
										at-copy="Contact"
										label="'Common.LabelContactGender' | t" />
								</div>
								<div class="control-group">
									<!-- Do not update email, this is for displaying only -->
									<atfield readonly at-required class="input-large"
										ng-model="copiedContact.EmailAddress"
										at-copy="Contact"
										label="'Common.Text_EmailAddress' | t" />
								</div>
								<div class="control-group">
									<atfield class="input-small"
										ng-model="copiedContact.DateOfBirth"
										at-copy="Contact"
										label="'Common.Text_DateOfBirth' | t"
										prepend-btn-ico="fa fa-calendar" no-time-picker />
								</div>
								<div class="control-group">
									<label class="control-label">{{ 'Login.labelPassword' |
										t }}</label>
									<div class="controls">
										<input type="password" class="input-large" name="passwordField"
											ng-model="copiedContact.Password" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">{{
										'Login.labelConfirmPassword' | t }}</label>
									<div class="controls">
										<input type="password" class="input-large" name="confirmPasswordField"
											ng-model="copiedContact.ConfirmPassword"
											ng-change="validatePasswords(copiedContact)"
											ng-required="copiedContact.Password || false" />
										
										<!-- Password error message -->
										<span class="help-block alert alert-error"
											 ng-show="updateAccountForm.passwordField.$dirty && updateAccountForm.confirmPasswordField.$dirty && !passwdOk"
											 ng-style="{width: '173px'}">
											 {{ 'Login.labelConfirmPasswordFail' | t }}
										</span>
										<span class="help-block alert alert-success"
											ng-show="updateAccountdOk"
				  						ng-click="updateAccountdOk=false"
				  						ng-style="{width: '173px'}">
				  						<button type="button" class="close" data-dismiss="alert"><i class="fa fa-times-circle"></i></button>
				  						{{'Login.Text_AccountUpdatedSuccessfully' | t}}
										</span>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">{{'Login.labelUpdate'
											| t}}</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>