<div ng-cloak ui-if="auth.isDomainProfileReady()" class="atPanel">
	<div ng-include src="'views/elements/error.html'"></div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wviolet">
					<div class="widget-head">
						<i class="fa fa-unlock-alt"></i> {{'Login.labelMyAccount' | t}}
					</div>
					<div class="alert alert-success" ng-show="updateAccountdOk"
						ng-click="updateAccountdOk=false">
						<button type="button" class="close" data-dismiss="alert"><i class="fa fa-times-circle"></i></button>
						{{'Login.Text_AccountUpdatedSuccessfully' | t}}
					</div>
					<div class="widget-content">
						<div class="padd">
							<form name="updateAccountForm" ng-submit="updateAccount()"
								ui-if="DomainProfile.Contact || false">
								<div class="control-group">
									<atfield at-required class="input-large"
										ng-model="DomainProfile.Contact.FirstName"
										label="'Login.labelFirstName' | t" />
								</div>
								<div class="control-group">
									<atfield at-required class="input-large"
										ng-model="DomainProfile.Contact.LastName"
										label="'Login.labelLastName' | t" />
								</div>
								<div class="control-group">
									<atfield at-required class="input-large"
										ng-model="DomainProfile.Contact.Gender"
										label="'Common.LabelContactGender' | t" />
								</div>
								<div class="control-group">
									<atfield readonly at-required class="input-large"
										ng-model="DomainProfile.Contact.EmailAddress"
										label="'Common.Text_EmailAddress' | t" />
								</div>
								<div class="control-group">
									<atfield class="input-large"
										ng-model="DomainProfile.Contact.Phone"
										label="'Common.LabelContactPhone' | t" />
								</div>
								<div class="control-group">
									<atfield class="input-large"
										ng-model="DomainProfile.Contact.AlternativePhone"
										label="'Common.LabelContactAlternativePhone' | t" />
								</div>
								<div class="control-group">
									<atfield class="input-small"
										ng-model="DomainProfile.Contact.DateOfBirth"
										label="'Common.Text_DateOfBirth' | t"
										prepend-btn-ico="fa fa-calendar" no-time-picker />
								</div>
								<div class="control-group">
									<label class="control-label">{{ 'Login.labelPassword' |
										t }}</label>
									<div class="controls">
										<input type="password" class="input-large"
											ng-model="DomainProfile.Password" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">{{
										'Login.labelConfirmPassword' | t }}</label>
									<div class="controls">
										<input type="password" class="input-large"
											ng-model="DomainProfile.ConfirmPassword"
											ng-change="validatePasswords(DomainProfile)"
											ng-required="DomainProfile.Password || false" />
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">{{'Login.labelUpdate'
											| t}}</button>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>