<div ng-include src="'views/elements/error.html'"></div>
<div class="clear row-fluid list" ng-controller="adminController"
	ng-init="getPendingAccessRequests()">
	<div class="widget wviolet">
		<div class="widget-head">
			<div class="pull-left">{{ 'Common.Text_Pending_Approvals' | t
				}}</div>
			<div class="clearfix"></div>
		</div>
		<div ng-show="approvals.length == 0" class="alert alert-info">{{
			'Common.Text_ApprovalEmpty' | t }}</div>
		<div class="widget-content" ng-show="approvals.length > 0">
			<table class="table  table-bordered ">
				<thead>
					<tr>
						<th>#</th>
						<th>{{ 'Common.Text_Date' | t }}</th>
						<th>{{ 'Common.Text_Type' | t }}</th>
						<th>{{ 'Common.Text_Details' | t }}</th>
						<th ui-if="auth.isAdministrator()">{{ 'Common.Text_Control' |
							t }}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="approval in approvals">
						<td>{{ $index+1 }}</td>
						<td><span class="label label-inverse"> {{
								approval.DateCreated | date:'MM/dd/yyyy @ h:mma' }}</span></td>
						<td>{{approval.RequestedItem.Type | t:true}}</td>
						<td>{{approval.RequestedItem.Name}}</td>
						<td ui-if="auth.isAdministrator()">
							<div class="btn-group pull-right">
								<button class="btn btn-mini btn-success"
									ng-click="confirmApproval(approval)">{{
									'Common.Text_Approve' | t }}</button>
								<button ng-click="rejectApproval(approval)"
									class="btn btn-mini btn-danger">{{
									'Common.Text_Reject' | t }}</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>