<div class="atPanel" ng-controller="adminController" ng-cloak
	ng-init="modalAuth.open = true">
	<script type="text/ng-template" id="formAuth.html">
			<div class="modal-header">
				<button type="button" ng-click="modalAuth.open = false"
					class="close">&times;</button>
				<h3>
					<p class="text-info" ui-if="!doRegister && !doForgotPassword">{{ 'Login.labelLogin' | t}}</p>
					<p class="text-info" ui-if="doRegister && !doForgotPassword">{{ 'Login.labelRegister' | t}}</p>
					<p class="text-info" ui-if="!doRegister && doForgotPassword">{{ 'Login.labelResetPassword' | t}}</p>
				</h3>
			</div>
			<div class="modal-body">
	<div ng-hide="DomainProfile.Key || false" class="clearfix">
		<div ng-include src="'views/elements/error.html'"></div>
		<div class="alert alert-error" ng-show="loginErr || false">{{loginErr}}</div>
		<div class="alert alert-success" ng-show="registerOk || false">{{
			'Login.registerOk' | t }}</div>
		<div class="alert alert-success" ng-show="resetPasswordOk || false">{{
			'Login.resetPasswordOk' | t }}</div>
		<!-- provider login -->
		<div class="row-fluid">
			<div class="span12">
				<form name="login1" ui-if="!doRegister && !doForgotPassword"
					ng-submit="login()">
					<dl>
						<dt>{{ 'Common.Text_EmailAddress' | t }}</dt>
						<dd>
							<input type="email" required class="input-large"
								ng-model="AccountProfile.Email" />
						</dd>
						<dt>{{ 'Login.labelPassword' | t }}</dt>
						<dd>
							<input type="password" required class="input-large"
								ng-model="AccountProfile.Password" />
						</dd>
						<dd>
							<input type="submit" class="btn btn-success clear"
								value="{{
		 							'Login.labelLogin' | t }}" />
						</dd>
					</dl>
				</form>
				<form name="register1" ui-if="doRegister && !doForgotPassword"
					ng-submit="register()">
					<dl>
						<dt>{{ 'Login.labelFirstName' | t }}</dt>
						<dd>
							<input type="text" required class="input-large"
								ng-model="RegisterAccountProfile.LastName" />
						</dd>
						<dt>{{ 'Login.labelLastName' | t }}</dt>
						<dd>
							<input type="text" required class="input-large"
								ng-model="RegisterAccountProfile.FirstName" />
						</dd>
						<dt>{{ 'Common.Text_EmailAddress' | t }}</dt>
						<dd>
							<input type="email" required class="input-large"
								ng-model="RegisterAccountProfile.Email" />
						</dd>
						<dt>{{ 'Login.labelPassword' | t }}</dt>
						<dd>
							<input type="password" required class="input-large"
								ng-model="RegisterAccountProfile.Password" />
						</dd>
						<dt>{{ 'Login.labelConfirmPassword' | t }}</dt>
						<dd>
							<input type="password" required class="input-large"
								ng-model="RegisterAccountProfile.ConfirmPassword"
								ng-change="validatePasswords()" />
						</dd>
						<dd>
							<input type="submit" class="btn btn-success clear"
								value="{{
		 							'Login.labelRegister' | t }}" />
						</dd>
					</dl>
				</form>
				<form name="login3" ui-if="!doRegister && doForgotPassword"
					ng-submit="resetPassword()">
					<dl>
						<dt>{{ 'Common.Text_EmailAddress' | t }}</dt>
						<dd>
							<input type="email" required class="input-large"
								ng-model="AccountProfile.Email" />
						</dd>
						<dd>
							<input type="submit" class="btn btn-success clear"
								value="{{
		 							'Common.Text_Submit' | t }}" />
						</dd>
					</dl>
				</form>
				<dl ui-if="!doForgotPassword && !doRegister">
					<dd>
						<a href="#/login" ng-click="evDoRegister()">{{'Login.labelRegisterNow'
							| t}}</a>
					</dd>
					<dd>
						<a href="#/login" ng-click="evDoForgotPassword()">{{'Login.labelForgotPassword'
							| t}}</a>
					</dd>
				</dl>
				<dl ui-if="doForgotPassword || doRegister">
					<dd>
						<a href="/">{{'Login.labelLogin' | t}}</a>
					</dd>
				</dl>
			</div>
		</div>
	</div>
			</div>
			<div class="modal-footer"></div>
	</script>
</div>