<div class="clear row-fluid list">
	<!-- category list -->
	<div class="widget wviolet">
		<div class="widget-head">
			<div class="pull-left">{{ 'Common.Text_CategoryMenu_Categories'
				| t }}</div>
			<div class="clear"></div>
		</div>
		<div class="widget-content">
			
			<div ng-show="!pagination.results.length" class="alert alert-info">{{
				'Common.Text_NoCategory_Msg' | t }}</div>
			<table class="table table-bordered" ng-show="categories.length > 0">
				<thead>
					<tr>
						<th>#</th>
						<th><a href="" ng-click="pagination.sort('Name')">{{ 'Common.Text_Name' | t}}</a></th>
						<th><a href="" ng-click="pagination.sort('Brief')">{{ 'Common.Text_BriefDescription' | t}}</a></th>
						<th>{{ 'Common.Text_Control' | t}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="category in pagination.pageItems()">
						<td>{{$index + 1 + pagination.currentPageIndex*pagination.pageSize}}</td>
						<td>{{category.Name}}</td>
						<td><p class="text clear">{{category.Brief}}</p></td>
						<td>
							<div class="btn-group pull-left">
								<button ui-if="Store.IsOwner" class="btn btn-mini btn-success"
									ng-click="update(category)">{{ 'Common.Text_Update' |
									t }}</button>
								<button ui-if="Store.IsOwner"
									ng-click="deleteCategory(category)"
									class="btn btn-mini btn-danger">{{
									'Common.Text_Remove' | t }}</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="paginationDiv">
        <ng-pagination ui-if="categories && categories.length > 0" page-size="pagination.pageSize" predicates="pagination.predicates" page-items="pagination.pageItems" text-filter="pagination.textFilter" sort="pagination.sort" results="pagination.results" current-page-index="pagination.currentPageIndex" number-of-pages="pagination.numberOfPages" data="categories"></ng-pagination>
        <p class="text-center" ng-show="pagination.results.length" ng-cloak>{{'Common.Text_CurrentPage' | t}}: {{pagination.currentPageIndex + 1}} - {{'Common.Text_ItemsPerPage' | t}}: {{pagination.pageSize}} - {{'Common.Text_TotalPages' | t}}: {{pagination.numberOfPages}} - {{'Common.Text_TotalItems' | t}}: {{pagination.results.length}}</p>
      </div>
			
		</div>
	</div>
</div>
