<div class="clear row-fluid list">
	<!-- category list -->
	<div class="widget wviolet">
		<div class="widget-head">
			<div class="pull-left">{{ 'Common.Text_CategoryMenu_Categories'
				| t }}</div>
			<div class="clear"></div>
		</div>
		<div class="widget-content">

			<div ng-show="!categories.length || !pagination.results.length" class="alert alert-info">{{
				'Common.Text_NoCategory_Msg' | t }}</div>
			<table class="table table-bordered table-hover"
				ng-show="categories.length > 0">
				<thead>
					<tr>
						<th>#</th>
						<th><a href="" ng-click="pagination.sort('Name')">{{
								'Common.Text_Name' | t}}</a></th>
						<th>{{ 'Common.Text_CustomURI' | t}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-click="update(category)" mousestyle
						ng-repeat="category in pagination.pageItems()">
						<td ui-if="Store.IsOwner">{{$index + 1 +
							pagination.currentPageIndex*pagination.pageSize}}</td>
						<td ui-if="Store.IsOwner">{{category.Name}}</td>
						<td ui-if="!Store.IsOwner">{{$index + 1 +
							pagination.currentPageIndex*pagination.pageSize}}</td>
						<td ui-if="!Store.IsOwner">{{category.Name}}</td>
						<td><a ui-if="Store.URI"
							ng-href="{{generateFrontEndLink()}}{{category.CustomURI.URI}}"
							target="_blank">
								{{generateFrontEndLink()}}{{category.CustomURI.URI}} </a>
							<p ui-if="!Store.URI">
								<span tooltip="{{ 'Common.Text_CategoryURLNotAvailable' | t }}">{{category.CustomURI.URI}}</span>
							</p></td>
					</tr>
				</tbody>
			</table>

			<div class="paginationDiv" ng-show="pagination.results.length > 20">
				<ng-pagination ui-if="categories && categories.length > 0"
					pagination-data="pagination" data="categories"> </ng-pagination>
				<p class="text-center" ng-cloak>{{'Common.Text_CurrentPage' |
					t}}: {{pagination.currentPageIndex + 1}} -
					{{'Common.Text_ItemsPerPage' | t}}: {{pagination.pageSize}} -
					{{'Common.Text_TotalPages' | t}}: {{pagination.numberOfPages}} -
					{{'Common.Text_TotalItems' | t}}: {{pagination.results.length}}</p>
			</div>

		</div>
	</div>
</div>
