<div ng-cloak ng-init="error.log(null)" class="admin-form atPanel">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wblue">
					<div class="widget-head">
						<i class="fa fa-lock"></i> {{ 'Login.labelResetPassword' | t}}
					</div>
					<div class="widget-content">
						<div class="padd">

							<form name="reset1" ng-submit="error.log(null); resetPasswordOk=false; resetPassword()"
								class="form-horizontal">
								<div class="control-group">
									<label class="control-label">{{
										'Common.Text_EmailAddress' | t }}</label>
									<div class="controls">
										<input type="email" class="input-large"
											ng-model="ForgotPassword.Email" required />
									</div>
								</div>
                <div ng-include src="'views/elements/error.html'"></div>
                <div class="alert alert-success" ng-show="resetPasswordOk || false">{{
                  'Login.resetPasswordOk' | t }}</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">{{
											'Common.Text_Submit' | t }}</button>
										<button type="reset" class="btn" ng-click="error.log(null); resetPasswordOk=false">{{
											'Common.Text_Reset' | t }}</button>
									</div>
								</div>
							</form>

						</div>
					</div>
					<div class="widget-foot">
						{{ 'Login.labelAlreadyRegistered' | t }} <a href="#/login">{{'Login.labelLogin'
							| t}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
