<!-- Form area -->
<div ng-cloak class="admin-form atPanel">
	<div ng-include src="'views/elements/error.html'"></div>
	<div class="alert alert-error" ng-show="loginErr || false">{{loginErr}}</div>
	<div class="container-fluid" ng-hide="DomainProfile.Key || false">
		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wblue">
					<!-- Widget head -->
					<div class="widget-head">
						<i class="icon-lock"></i> {{ 'Login.labelLogin' | t}}
					</div>
					<div class="widget-content">
						<div class="padd">
							<!-- Login form -->
							<form class="form-horizontal" ng-submit="login()" name="login1">
								<!-- Email -->
								<div class="control-group">
									<label class="control-label">{{
										'Common.Text_EmailAddress' | t }}</label>
									<div class="controls">
										<input type="email" autocomplete="on" required
											ng-model="AccountProfile.Email" />
									</div>
								</div>
								<!-- Password -->
								<div class="control-group">
									<label class="control-label">{{ 'Login.labelPassword' |
										t }}</label>
									<div class="controls">
										<input ng-model="AccountProfile.Password" autocomplete="on"
											type="password" required />
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">{{
											'Login.labelLogin' | t }}</button>
										<button type="reset" class="btn">{{
											'Common.Text_Reset' | t }}</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="widget-foot">
						{{ 'Login.labelNotRegistered' | t }} <a href="#/register">{{'Login.labelRegisterNow'
							| t}}</a><br /> {{ 'Login.labelForgotPassword' | t }} <a
							href="#/forgot">{{'Login.labelResetPassword' | t}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
