<div class="atPanel" ui-if="DomainProfile && DomainProfile.Key || false"
	ng-controller="mediaController" ng-cloak>
	<!-- top menu -->
	<div ng-include src="'views/elements/error.html'"></div>
	<!-- event info -->
	<div ui-if="Store && Store.Key || false" class="row-fluid">
		<h3 class="pull-left">{{ 'Common.Text_Media' | t}}</h3>
		<div class="btn-group pull-right">
			<button class="btn btn-info" ng-click="create()">{{
				'Common.Text_EventMenu_CreateMedia' | t }}</button>
		</div>
		<div class="clearfix"></div>
		<div id="formMedia" class="modal form hide fade">
			<div class="modal-header">
				<button type="button" ng-click="wizardMedia.open = false"
					class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>
					<p class="text-info">{{ 'Common.Text_Images' | t}}</p>
				</h3>
			</div>
			<div class="modal-body">
				<!-- messages -->
				<div ng-switch="wizardMedia.currentStep">
					<div class="alert alert-info" ng-switch-when="1">
						<strong>{{ 'Event.Text_Upload' | t }}</strong>
					</div>
				</div>
				<div class="alert alert-success"
					ui-if="wizardMedia.saved && wizardMedia.finished">
					<strong>{{ 'Common.Text_Congrats' | t }}</strong> {{
					'Common.Text_WizardComplete' | t }}
				</div>
				<!-- form -->
				<ng-form name="atMedia" ng-submit="save()">
				<form ui-if="wizardMedia.currentStep == 1" name="atEvent1"
					ng-submit="wizardMedia.next('atMedia1')">
					<dl class="clearfix">
						<dd>
							<div id="uploader" class="clearfix"
								ng-init="media.createUploader(Store.Key,onImageUpload,onError)"></div>
						</dd>
						<dd>
							<input type="submit" class="btn btn-primary clear"
								value="{{
							'Common.Text_Next' | t }}" />
						</dd>
					</dl>
				</form>
				<dl ui-if="wizardMedia.finished" class="clearfix">
					<dd class="pull-left">
						<a ng-show="wizardMedia.currentStep>1 && wizardMedia.saved"
							ng-click="wizardMedia.currentStep = wizardMedia.currentStep-2; wizardMedia.finished = false; wizardMedia.saved = false"
							class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
					</dd>
					<dd class="pull-left">
						<a ng-show="wizardMedia.currentStep>1 && wizardMedia.saved"
							data-dismiss="modal" ng-click="wizardMedia.open = false"
							class="btn btn-primary clear">{{ 'Common.Text_Close' | t }}</a>
					</dd>
				</dl>
				</ng-form>
			</div>
			<div class="modal-footer"></div>
		</div>
		<div onload="init()" ng-include src="'views/mediaList.html'"></div>
	</div>
</div>
