<div ng-init="orderDetailInit()">
	<!-- Loading message -->
  <div ng-show="!Order" class="alert alert-info">
	  <i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;{{'Common.Text_WaitLoading' | t}}
  </div>
  
  <!-- Order info -->
  <div ng-show="Order">
  	<!-- Order detail -->
  	<div class="order-detail pull-left">
  		<h4>{{'Common.Text_OrderDetail' | t}}</h4>
  		<dl class="dl-horizontal">
  		  <dt>{{'Order.Text_OrderId' | t}}</dt><dd>{{Order.OrderId}}</dd>
  		  <dt>{{'Order.Text_State' | t}}</dt><dd>{{Order.orderState}}</dd>
  		  <dt>{{'Order.Text_DateOfPurChase' | t}}</dt><dd>{{Order.DateCreated | date:'MMMM dd yyyy, h:mm a'}}</dd>
  		  <dt>{{'Order.Text_NumberofItems' | t}}</dt><dd>{{Order.InventoryItems.length | number}}<span ng-show="!Order.InventoryItems">...</span></dd>
  		  <dt>{{'Order.Text_PaymentType' | t}}</dt><dd>{{Order.Transactions[0].ProviderType || '...'}}</dd>
  		  <dt class="clear">&nbsp;</dt><dd class="clear">&nbsp;</dd>
  		  <dt>{{'Order.Text_CustomerName' | t}}</dt><dd>{{Order.Contact.FullName}}</dd>
  		  <dt>{{'Common.Text_Email' | t}}</dt><dd><a ng-href="mailto:{{Order.Contact.EmailAddress}}" target="_top">{{Order.Contact.EmailAddress || '...'}}</a></dd>
  		  <dt class="clear">&nbsp;</dt><dd class="clear">&nbsp;</dd>
  		  <dt>{{'Order.Text_Subtotal' | t}}</dt><dd>{{Order.SubTotal.ItemPrice | currency}}</dd>
  		  <dt>{{'Order.Text_Fee' | t}}</dt><dd>{{Order.Fees.ItemPrice | currency}}</dd>
  		  <dt>{{'Common.Text_Total' | t}}</dt><dd><strong>{{Order.Total.ItemPrice | currency}}</strong></dd>
  		</dl>
  	</div>
  	<!-- Order ticket list -->
  	<div class="order-tickets pull-left">
  		<h4>{{'Common.Text_Tickets' | t}}</h4>
  		<table class="table">
  		  <tbody>
  		  	<tr>
  		      <td><h6><strong>{{'Event.Text_Event' | t}}</strong></h6></td>
  		      <td><h6><strong>{{'Event.Text_TicketType' | t}}</strong></h6></td>
  		      <td><h6><strong>{{'Event.Text_TicketNumber' | t}}</strong></h6></td>
  		      <td><h6><strong>{{'Common.Text_Price' | t}}</strong></h6></td>
  		    </tr>
  		    <tr ng-repeat="ticket in Order.InventoryItems"
  		    	  class="ticket-row"
  		    	  ng-click="loadTicketandEvent(ticket, $index)"
  		    	  ng-disabled="ticket.Key == OrderTicket.Key" mousestyle>
  		      <td>{{ticket.EventName}}</td>
  		      <td>{{ticket.ItemInfoName}}</td>
  		      <td>{{ticket.UIID}}</td>
  		      <td>{{ticket.ItemInfoPrice.ItemPrice | currency}}</td>
  		    </tr>
  		    <tr>
  		      <td colspan="2"><span ng-show="Order.InventoryItems && Order.InventoryItems.length > 1">* {{'Common.Text_ViewTicket' | t}}</span></td>
  		      <td><span class="pull-right"><h6><strong>{{'Common.Text_Total' | t}}</strong></h6></span></td>
  		      <td><span class="pull-right"><h6><strong>{{Order.Total.ItemPrice | currency}}</strong></h6></span></td>
  		    </tr>
  		  </tbody>
  		</table>
  		<div><span class="pull-right"><button class="btn btn-warning">{{'Common.Text_PrintAllTickets' | t | uppercase}}</button> - {{'Common.Text_Or' | t}} - <button class="btn btn-warning">{{'Order.Text_PrintReceipt' | t | uppercase}}</button></span></div>
  	</div>
  	<div class="clear"></div>
  	<!-- Ticket detail -->
  	<div class="order-ticket-detail" ng-show="OrderTicket">
  		<table>
  		  <tbody>
  		    <tr>
  		      <td><img ng-src="{{OrderEvent.SmallImage.BaseURL}}{{OrderEvent.SmallImage.ImageFile}}" /></td>
  		      <td>
  		      	<div>{{'Common.Text_Ticket' | t}} #{{OrderTicket.order + 1}}</div>
  		      	<div><h5><strong>{{OrderTicket.EventName}}</strong></h5></div>
  		      	<div><h6><strong>{{OrderTicket.ItemInfoName}} - {{OrderTicket.ItemInfoPrice.ItemPrice | currency}}</strong></h6></div>
  		      	<div>{{OrderEvent.StartTime | date:'MMMM dd yyyy, h:mm a'}} - {{OrderEvent.EndTime  | date:'h:mm a'}}</div>
  		      	<div>{{OrderEvent.Places[0].Name}}</div>
  		      	<div>{{OrderEvent.Places[0].Address.AddressLine1}}, {{OrderEvent.Places[0].Address.City}}, {{OrderEvent.Places[0].Address.PostalCode}} - {{OrderEvent.Places[0].Address.Region}}, {{OrderEvent.Places[0].Address.Country}}</div>
  		      </td>
  		      <td>
  		      	<img ng-src="{{getTicketQR(OrderTicket)}}" />
  		      	<p>{{OrderTicket.UIID}}</p>
  		      	<div><a class="btn btn-primary" ng-href="{{OrderTicket.DownloadLink}}">{{'Common.Text_DownloadTicket' | t}}</a></div>
  		      </td>
  		    </tr>
  		  </tbody>
  		</table>
  	</div>
  </div>
</div>