<div class="clear row-fluid list" ng-init="init()">
	<!-- order list -->
	<div class="widget wviolet">
		<div class="widget-head">
			<div class="pull-left">{{ 'Order.Text_OrdersList' | t }}</div>
			<div class="clear"></div>
		</div>
		<div class="widget-content">
			<form class="form-horizontal">
				<div class="control-group">
	  			<label class="control-label" for="filterText">{{'Common.Text_Search'
		  			| t}}:</label>
		  		<div class="controls">
		  		  <input type="text" id="filterText" class="input-xlarge"
		  		    ng-model="pagination.textFilter" placeholder="">
		  		  <button class="btn btn-primary btn-mini"
				      ng-click="advancedSearch=true">{{'Common.Text_AdvancedSearch'
				      | t}}</button>
		  		</div>
		  	</div>
				<div class="control-group">
	  			<label class="control-label" for="dateRange">Order From:</label>
		  		<div class="controls">
		  		  <select
		  		    ng-model="dateFrom"
		  		    id=""
		  		    ng-options="c.label for c in dateRange">
		  		  </select>
		  		</div>
		  	</div>
		  	<div class="control-group">
	  			<label class="control-label" for="orderState">Order State:</label>
		  		<div class="controls">
		  		  <select
		  		    ng-model="orderState"
		  		    id=""
		  		    ng-options="c.label for c in orderStateRange">
		  		  </select>
		  		</div>
		  	</div>
				<atfilter
					ui-if="false"
					at-model="Order"
					pagination-data="pagination">
				</atfilter>
			</form>
      
			<div ng-show="!pagination.results.length" class="alert alert-info">{{'Order.Text_OrderEmpty'
				| t}}</div>
			<table class="table table-bordered ng-table-responsive" ng-show="pagination.results.length">
				<thead>
					<tr>
						<th>#</th>
						<th><a href="" ng-click="pagination.sort('OrderId')">{{'Order.Text_OrderId'
							  | t}}</a></th>
						<th><a href="" ng-click="pagination.sort('Placed')">{{'Common.Text_OrderDate'
								| t}}</a></th>
						<th><a href="" ng-click="pagination.sort('Contact.FullName')">{{'Common.Text_Contact'
								| t}}</a></th>
						<th><a href="" ng-click="pagination.sort('Total.ItemPrice')">{{'Order.Text_Total'
								| t}}</a></th>
						<th><a href="" ng-click="pagination.sort('State')">{{'Order.Text_State'
								| t}}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="order in pagination.pageItems()" mousestyle>
						<td>{{$index + 1 +
							pagination.currentPageIndex*pagination.pageSize}}</td>
						<td>{{order.OrderId}}</td>
						<td><span class="label">Placed on {{ order.Placed |
								date:'MM/dd/yyyy @ h:mma' }}</span></td>
						<td>{{order.Contact.FullName}}</td>
						<td>{{order.Total.ItemPrice | currency}}</td>
						<td>{{order.State | api:'enumReplace':'OrderStateEnum'}}</td>
					</tr>
				</tbody>
			</table>

			<div class="paginationDiv" ng-show="pagination.results.length > 20">
				<ng-pagination
					pagination-data="pagination"
					data="orders">
          </ng-pagination>
				<p class="text-center" ng-cloak>{{'Common.Text_CurrentPage' |
					t}}: {{pagination.currentPageIndex + 1}} -
					{{'Common.Text_ItemsPerPage' | t}}: {{pagination.pageSize}} -
					{{'Common.Text_TotalPages' | t}}: {{pagination.numberOfPages}} -
					{{'Common.Text_TotalItems' | t}}: {{pagination.results.length}}</p>
			</div>

		</div>
	</div>
</div>
