<div ng-cloak ng-init="error.log(null)" class="admin-form atPanel">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wblue">
					<div class="widget-head">
						<i class="fa fa-lock"></i> {{ 'Login.labelRegister' | t}}
					</div>
					<div class="widget-content">
						<div class="padd">

							<form name="register1" ng-submit="error.log(null); registerOk=false; register()"
								class="form-horizontal">
								<div class="control-group">
									<label class="control-label">{{ 'Login.labelFirstName'
										| t }}</label>
									<div class="controls">
										<input type="{{'text'}}" class="input-large"
											ng-model="RegisterAccountProfile.FirstName" required />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">{{ 'Login.labelLastName' |
										t }}</label>
									<div class="controls">
										<input type="{{'text'}}" class="input-large"
											ng-model="RegisterAccountProfile.LastName" required />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">{{
										'Common.Text_EmailAddress' | t }}</label>
									<div class="controls">
										<input type="email" class="input-large" 
											ng-model="RegisterAccountProfile.Email" 
											ng-change="validateEmail(RegisterAccountProfile)" 
											required />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">{{
										'Login.labelConfirmEmail' | t }}</label>
									<div class="controls">
										<input type="email" class="input-large"
											ng-model="RegisterAccountProfile.ConfirmEmail"
											ng-change="validateEmail(RegisterAccountProfile)"
											required />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">{{ 'Login.labelPassword' |
										t }}</label>
									<div class="controls">
										<input type="password" class="input-large" 
											ng-model="RegisterAccountProfile.Password" 
											ng-change="validatePasswords(RegisterAccountProfile)" 
											required />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">{{
										'Login.labelConfirmPassword' | t }}</label>
									<div class="controls">
										<input type="password" class="input-large"
											ng-model="RegisterAccountProfile.ConfirmPassword"
											ng-change="validatePasswords(RegisterAccountProfile)"
											required />
									</div>
								</div>
                <div ng-include src="'views/elements/error.html'"></div>
                <div class="alert alert-success" ng-show="registerOk || false">{{
                  'Login.registerOk' | t }}</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary">{{
											'Login.labelRegister' | t }}</button>
										<button type="reset" class="btn" ng-click="error.log(null); registerOk=false">{{
											'Common.Text_Reset' | t }}</button>
									</div>
								</div>
							</form>

						</div>
					</div>
					<div class="widget-foot">
						{{ 'Login.labelAlreadyRegistered' | t }} <a href="#/login">{{'Login.labelLogin'
							| t}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>