<div class="clear row-fluid list">
	<!-- scanDevice list -->
	<div class="widget wviolet">
		<div class="widget-head">
			<div class="pull-left">{{ 'Scanner.Text_DeviceList' | t }}</div>
			<div class="clear"></div>
		</div>
		<div class="widget-content">
			<div ng-show="scanDevices.length == 0" class="alert alert-info">{{
				'Scanner.Text_EmptyList' | t }}</div>
			<table class="table  table-bordered "
				ng-show="scanDevices.length > 0">
				<thead>
					<tr>
						<th>#</th>
						<th>{{ 'Common.Text_Name' | t}}</th>
						<th>{{ 'Scanner.Text_DeviceInfo' | t}}</th>
						<th>{{ 'Scanner.Text_LastSyncDate' | t}}</th>
						<th>{{ 'Scanner.Text_Status' | t}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="scanDevice in pagination.pageItems() | filter:filterByEvent" ng-click="update(scanDevice)" mousestyle>
						<td>{{$index + 1 +
							pagination.currentPageIndex*pagination.pageSize}}</td>
						<td>{{scanDevice.Name}}</td>
						<td>{{scanDevice.DeviceInfo.OS || 'Scanner.Text_UnregisteredDevice' | t}}</td>
						<td>{{scanDevice.LastSyncDateTime}}</td>
						<td>
							<span class="label label-success" ng-show="scanDevice.Active">{{'Scanner.Text_StatusActive' | t}}</span>
							<span class="label" ng-show="!scanDevice.Active">{{'Scanner.Text_StatusDisabled' | t}}</span>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="paginationDiv" ng-show="pagination.results.length > 20">
        <ng-pagination ui-if="scanDevices && scanDevices.length > 0" page-size="pagination.pageSize" predicates="pagination.predicates" page-items="pagination.pageItems" text-filter="pagination.textFilter" sort="pagination.sort" results="pagination.results" current-page-index="pagination.currentPageIndex" number-of-pages="pagination.numberOfPages" data="scanDevices"></ng-pagination>
        <p class="text-center" ng-cloak>{{'Common.Text_CurrentPage' | t}}: {{pagination.currentPageIndex + 1}} - {{'Common.Text_ItemsPerPage' | t}}: {{pagination.pageSize}} - {{'Common.Text_TotalPages' | t}}: {{pagination.numberOfPages}} - {{'Common.Text_TotalItems' | t}}: {{pagination.results.length}}</p>
      </div>
			
		</div>
	</div>
</div>
