<div class="clear row-fluid list">
	<!-- storepreregister list -->
	<div class="widget wviolet">
		<div class="widget-head">
			<div class="pull-left">{{ 'Common.Text_Schools' | t }}</div>
			<div class="clear"></div>
		</div>
		<div class="widget-content">
			<div ng-show="storePreRegisters.length == 0" class="alert alert-info">{{
				'Common.Text_NoResults' | t }}</div>
			<div class="alert alert-info"
				ng-show="infoMsg && infoMsg != null || false">{{infoMsg}}</div>
			<table class="table table-bordered table-hover"
				ui-if="storePreRegisters.length > 0">
				<thead>
					<tr>
						<th>#</th>
						<th><a href="" ng-click="paginationPreRegister.sort('Name')">{{
								'Common.Text_Name' | t }}</a></th>
						<th><a href=""
							ng-click="paginationPreRegister.sort('AddressLine1')">{{
								'Common.Text_Address' | t }}</a></th>
						<th><a href="" ng-click="paginationPreRegister.sort('City')">{{
								'Address.LabelCity' | t }}</a></th>
						<th><a href=""
							ng-click="paginationPreRegister.sort('County')">{{
								'Address.LabelCounty' | t }}</a></th>
						<th><a href=""
							ng-click="paginationPreRegister.sort('Country')">{{
								'Address.LabelCountry' | t }}</a></th>
					</tr>
				</thead>
				<tbody>
					<tr
						ng-click="selection.StorePreRegisterKey = spr.Key; storeAgreement.open = true"
						ng-repeat="spr in paginationPreRegister.pageItems()" mousestyle>
						<td>{{$index+1}}</td>
						<td>{{spr.Name}}</td>
						<td>{{spr.AddressLine1}}</td>
						<td>{{spr.City}}</td>
						<td>{{spr.County}}</td>
						<td>{{spr.Country}}</td>
					</tr>
				</tbody>
			</table>
			<div class="paginationDiv"
				ng-show="paginationPreRegister.results.length > 20">
				<ng-pagination
					ui-if="storePreRegisters && storePreRegisters.length > 0"
					pagination-data="paginationPreRegister" data="storePreRegisters">
				</ng-pagination>
				<p class="text-center"
					ng-show="paginationPreRegister.results.length" ng-cloak>{{'Common.Text_CurrentPage'
					| t}}: {{paginationPreRegister.currentPageIndex + 1}} -
					{{'Common.Text_ItemsPerPage' | t}}:
					{{paginationPreRegister.pageSize}} - {{'Common.Text_TotalPages' |
					t}}: {{paginationPreRegister.numberOfPages}} -
					{{'Common.Text_TotalItems' | t}}:
					{{paginationPreRegister.results.length}}</p>
			</div>
		</div>
	</div>
</div>








