<div class="clear row-fluid list">
	<div
		ng-show="(tickets | filter:filterByEvent).length == 0 && infoMsg == null"
		class="alert alert-info">{{ 'Common.Text_TicketEmpty' | t }}</div>
	<div class="alert alert-info"
		ng-show="infoMsg && infoMsg != null || false">{{infoMsg}}</div>
	<!-- ticket list -->
	<ul class="thumbnails"
		ui-if="(tickets | filter:filterByEvent).length>0">
		<li ng-repeat="ticket in tickets | filter:filterByEvent" class="span4">
			<div class="thumbnail">
				<h4 class="pull-left">{{ticket.Name}}</h4>
				<div class="btn-group pull-right">
					<button ui-if="Store.IsOwner" class="btn btn-mini btn-success"
						ng-click="update(false, ticket)">{{ 'Common.Text_Update'
						| t }}</button>
					<button ng-controller="cartController" ui-if="!Store.IsOwner"
						class="btn btn-mini btn-success" ng-click="addToCart(ticket)">
						<i style="margin-top: 3px" class="fa fa-ok pull-left"
							ui-if="ticket.added && ticket.added == true" ui-jq="fadeOut"
							ui-options="{duration: 1000, complete:evAddItem(ticket)}"></i>{{
						'ShoppingCart.labelAddToCart' | t }}
					</button>
					<button ui-if="Store.IsOwner" class="btn btn-mini"
						ng-click="create(true, ticket)">{{
						'Common.Text_AddPricingTier' | t }}</button>
				</div>
				<p class="text clear">{{ticket.Policy}}</p>
				<div ng-include src="'views/pricingTierList.html'"
					onload="_parentTicket = ticket"></div>
				<span class="label label-inverse">Sales Start on {{
					ticket.OnSaleDateTimeStart | date:'MM/dd/yyyy @ h:mma' }}</span> <span
					class="label label-inverse">Sales End on {{
					ticket.OnSaleDateTimeEnd | date:'MM/dd/yyyy @ h:mma' }}</span> <span
					class="pull-right label label-info">{{
					ticket.Price.ItemPrice | currency }}</span>
			</div>
		</li>
	</ul>
</div>