<div class="atPanel" ui-if="DomainProfile && DomainProfile.Key || false"
	ng-controller="ticketController" ng-cloak>
	<script type="text/ng-template" id="formTicket.html">
			<div class="modal-header">
				<button type="button" ng-click="wizardTicket.open = false"
					class="close">&times;</button>
				<h3>{{ 'Common.Text_Ticket' | t}}</h3>
			</div>
			<div class="modal-body">
				<!-- messages -->
				<div ng-switch="wizardTicket.currentStep">
					<div class="alert alert-info" ng-switch-when="2">
						<strong>{{ 'Event.Text_DateInformation' | t }}</strong>
					</div>
					<div class="alert alert-info" ng-switch-when="3">
						<strong>{{ 'Common.Text_QtyInformation' | t }}</strong>
					</div>
					<div class="alert alert-info" ng-switch-when="4">
						<strong>{{ 'Common.Text_Confirm' | t }}</strong>
					</div>
				</div>
				<div class="alert alert-success"
					ui-if="wizardTicket.saved && wizardTicket.finished">
					<strong>{{ 'Common.Text_Congrats' | t }}</strong> {{
					'Common.Text_WizardComplete' | t }}
				</div>

				<!-- form -->
				<ng-form ui-if="GeneralAdmissionTicketItemInfo" name="atTicket"
					ng-submit="save()">
				<form ui-if="wizardTicket.currentStep == 1" name="atTicket1"
					ng-submit="wizardTicket.next('atTicket1')">
					<dl class="clearfix">
						<dd>
							<atfield at-required class="input-xxlarge"
								ng-model="GeneralAdmissionTicketItemInfo.Name"
								label="'Common.Text_TicketName' | t" ng-change="setURI(false)" />
						</dd>
						<dd ui-if="false">
							<atfield autocomplete="off" at-required ng-readonly="true"
								class="input-xlarge"
								ng-model="GeneralAdmissionTicketItemInfo.URI"
								at-copy="CustomURI" label="'Common.Text_CustomURI' | t"></atfield>
						</dd>
						<dd>
							<atfield class="input-xxlarge"
								ng-model="GeneralAdmissionTicketItemInfo.Brief"
								label="'Common.Text_BriefDescription' | t" rows="5" />
						</dd>
						<dd>
							<atfield class="input-xxlarge"
								ng-model="GeneralAdmissionTicketItemInfo.Policy"
								label="'Common.Text_Policy' | t" rows="5" />
						</dd>
						<dd>
							<input type="submit" class="btn btn-primary clear"
								value="{{
							'Common.Text_Next' | t }}" />
						</dd>
					</dl>
				</form>
				<form ui-if="wizardTicket.currentStep == 2" name="atTicket2"
					ng-submit="wizardTicket.next('atTicket2')">
					<dl>
						<dd class="pull-left">
							<atfield at-required class="input-large"
								ng-model="GeneralAdmissionTicketItemInfo.OnSaleDateTimeStart" prepend-btn-ico="fa fa-calendar"
								label="'Common.LabelGeneralAdmissionTicketItemInfoOnSaleDateTimeStart' | t" />
						</dd>
						<dd class="pull-left">
							<atfield at-required class="input-large" 
								ng-model="GeneralAdmissionTicketItemInfo.OnSaleDateTimeEnd" prepend-btn-ico="fa fa-calendar"
								label="'Common.LabelGeneralAdmissionTicketItemInfoOnSaleDateTimeEnd' | t" />
						</dd>
						<dd class="clear"></dd>
						<dd class="pull-left">
							<a ng-show="wizardTicket.currentStep>1"
								ng-click="wizardTicket.currentStep = wizardTicket.currentStep-1"
								class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
						</dd>
						<dd class="pull-left">
							<input type="submit" class="btn btn-primary clear"
								value="{{
		 							'Common.Text_Next' | t }}" />
						</dd>
					</dl>
				</form>
				<form ng-show="wizardTicket.currentStep == 3" name="atTicket3"
					ng-submit="wizardTicket.next('atTicket3')">
					<dl class="clearfix">
						<dd class="clear">
							<atfield class="input-small"
								ng-model="GeneralAdmissionTicketItemInfo.MaxPurchaseQuantity"
								at-required ng-pattern="/^\d+$/"
								tip="'Common.Text_TipMaxAllowed' | t" />
						</dd>
						<dd class="clear">
							<label>{{'Common.LabelGeneralAdmissionTicketItemInfoStock'
								| t}} </label> <small class="muted">{{ 'Common.Text_Inventory' |
								t }}: {{GeneralAdmissionTicketItemInfo.NumberTotal}}</small>&nbsp;<small
								class="muted">{{ 'Common.Text_Add' | t }}:
								{{GeneralAdmissionTicketItemInfo.Stock}}</small>&nbsp;<small
								class="muted">{{ 'Common.Text_Total' | t }}: <b>{{GeneralAdmissionTicketItemInfo.Stock
									+ GeneralAdmissionTicketItemInfo.NumberTotal}}</b></small>
							<div class="clear" ui-jq="slider"
								ui-options="{slide: updateTicketStock, step: 25, value:0, max: 500}"></div>
						</dd>
						<dd class="clear">
							<atfield class="input-small"
								ng-model="GeneralAdmissionTicketItemInfo.Price.ItemPrice"
								at-required ng-pattern="/^[\d\.\,]+$/" />
						</dd>
						<dd class="clear"></dd>
						<dd class="pull-left">
							<a ng-show="wizardTicket.currentStep>1"
								ng-click="wizardTicket.currentStep = wizardTicket.currentStep-1"
								class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
						</dd>
						<dd class="pull-left">
							<input type="submit" class="btn btn-primary clear"
								value="{{
		 							'Common.Text_Next' | t }}" />
						</dd>
					</dl>
				</form>
				<form ui-if="wizardTicket.currentStep == 4 && !wizardTicket.saved"
					name="atTicket3" ng-submit="wizardTicket.next('atTicket4', true)">
					<dl>
						<dd class="clear row-fluid">
							<!-- ticket details -->
							<atmodel ui-if="GeneralAdmissionTicketItemInfo"
								ng-model="GeneralAdmissionTicketItemInfo"
								at-hide-props="NumberTotal,Fee,DateCreated,DateModified,StoreKey,InventoryKey,EventKey"></atmodel>
						</dd>
						<dd class="pull-left">
							<a ng-show="wizardTicket.currentStep>1"
								ng-click="wizardTicket.currentStep = wizardTicket.currentStep-1"
								class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
						</dd>
						<dd class="pull-left">
							<input type="submit" class="btn btn-success clear"
								value="{{
		 							'Common.Text_Save' | t }}" />
						</dd>
					</dl>
				</form>
				<dl ui-if="wizardTicket.finished" class="clearfix">
					<dd class="pull-left">
						<a ng-show="wizardTicket.currentStep>1 && wizardTicket.saved"
							ng-click="wizardTicket.currentStep = wizardTicket.currentStep-2; wizardTicket.finished = false; wizardTicket.saved = false"
							class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
					</dd>
					<dd class="pull-left">
						<a ng-show="wizardTicket.currentStep>1 && wizardTicket.saved"
							ng-click="wizardTicket.open = false"
							class="btn btn-primary clear">{{ 'Common.Text_Close' | t }}</a>
					</dd>
				</dl>
				</ng-form>
			</div>
			<div class="modal-footer"></div>
	</script>
	<!-- top menu -->
	<div ng-include src="'views/elements/error.html'"></div>
	<!-- ticket info -->
	<div ui-if="Store && Store.Key && events && events.length > 0 || false"
		class="row-fluid" ng-init="init()">
		<ul class="breadcrumb">
			<li><a
				ng-href="/#/{{Store.IsOwner && 'event' || 'store/' + storeURI}}">{{
					'Common.Text_EventMenu_Events' | t}}</a> <span class="divider">/</span></li>
			<li class="active">{{ Event.Name }}</li>
		</ul>

		<p class="lead pull-left">{{ 'Common.Text_TicketMenu_Tickets' |
			t}}</p>
		<div class="btn-group pull-right">
			<a ui-if="Store.IsOwner" class="btn btn-info"
				ng-click="create(false)"> <i class="fa fa-plus"></i>&nbsp;{{
				'Common.Text_TicketMenu_CreateTicket' | t }}
			</a>
		</div>
		<div id="formTicket" class="modal form hide fade"></div>
		<div class="clear"></div>
		<div ng-include src="'views/ticketList.html'"></div>
	</div>
</div>
